# dependencies
node_modules/

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# build folders
build/
dist/

# # React build output
# client/buil

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# cache
.cache/